body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: #fff0f5;
    color: #b84a4a;
    text-align: center;
    overflow-x: hidden;
  }
  
  .section {
    padding: 40px 20px;
    max-width: 500px;
    margin: auto;
  }
  
  .fecha {
    font-size: 6vw;
  }
  
  .frase {
    font-size: 4.5vw;
    margin-top: 10px;
    font-style: italic;
  }
  
  .contador {
    font-size: 6vw;
    font-weight: bold;
  }
  
  .btn {
    font-size: 4vw;
    background-color: #f7a89e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }
  
  .separador img {
    width: 200px;
    margin: 40px auto;
    display: block;
  }
  
  /* Decoraciones fijas */
  .decor {
   height: auto;
    width: 500px;
    z-index: 1000;
    opacity: 0.7;
    pointer-events: none;
  }
  
  .top-left {
    top: 0;
    left: 0;
  }
  .imagen-xv {
    width: 80%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .musica {
  margin-top: 20px;
}

.boton-musica {
  width: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton-musica:hover {
  transform: scale(1.1);
}

  
.footer h2 {
    font-size: 5vw;
    color: #b84a4a;
    margin-top: -150px; /* Mueve el título hacia arriba */
    margin-bottom: 10px; /* Menos espacio debajo */
  }
  
  
  .footer .btn-confirmar {
    margin-top: -10px; /* Opcional si quieres pegarlo aún más */
  }
  
  .footer {
    background-color: #fce4ec;
    padding: 200px 20px 100px; /* Arriba 30px, laterales 20px, abajo 100px */
    position: relative;  
    text-align: center;
    margin-top: 60px;
    position: relative; /* Mantener la imagen dentro del contenedor */
  }
  
  .footer-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 500px; /* Ajustar el tamaño máximo */
    height: auto;
    display: block; /* Asegura que la imagen se muestre correctamente */
  }
  